@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --bg-color: #111111;
    --txt-color: rgba(255, 255, 255, .9);

    scroll-behavior: smooth;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
    max-width: 1680px;
    margin: 0 auto;

    /* TEXTOS */
    font-size: 1.3em;
    line-height: 1.6em;
    color: var(--txt-color);
    font-family: "Nunito", sans-serif;

    background-color: var(--bg-color);
}

h1, h2, h3, h4 {
    margin-bottom: 0.5em;

    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    line-height: 1.3em;

    text-wrap: balance;
}

h2 {
    text-align: center;
    font-size: 3em;
}

p {
    text-wrap: pretty;
}

header {
    display: none;
}

.contenedor-btn {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.btn {
    padding: 1em 2em;

    border: none;
    border-radius: 5px;
    background-color: #C24444;

    color: var(--txt-color);
    font-size: 1em;
}

main {
    padding: 3em;
}

footer ul {
    margin: 4em 9em 0;
    padding: 1em 3em;

    border-top: 2px solid rgba(255, 255, 255, .1);

    display: flex;
    justify-content: space-between;

    list-style: none;
    font-size: .8em;
}
@media screen and (min-width: 1280px){
    .btn:hover {
        cursor: pointer;
        background-color: #b73a3a;
    }
}